.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: rgb(87, 88, 86);
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top-container button {
  background-color: greenyellow;
  padding: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.table-container {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.columheaders {
  background-color: greenyellow;
}

.row {
  background-color: lavender;
}

table {
  border-spacing: 5px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

.add-ingredient-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.add-ingredient {
  background-color: lightgreen;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
